body{background-color:#56868b;}
h1,h2{color:#fff;}
h5{color:#fff;}
h1{
margin-left:28%;
margin-top:10%;
margin-bottom:5%;
margin-right:30%;
width:45%;
padding:5px 6px;
text-align: center;
}
#maddy{color:c6bfaa;}

form{text-align:center;
background-color:#808080;

margin-left:10%;
margin-right:10%;

padding:20px 20px;
}
input[type=text]{width:30%; padding:10px 20px;border:none;
border-radius:4px;}
input[type=password]{width:30%; padding:10px 20px;border:none;
border-radius:4px;}
h2,div{text-align:center;}
h5{text-align:center;}
button{background-color:#0000ff;color:white;padding:4px 20px;border-color:green; }
p1{color:#9aacae;
}
mark{background-color:#0000ff